* {
    box-sizing: border-box;
}
#addition{
    border-radius: 5%;

}

#spielerbild{
    border-radius: 5%;
    float: none;
    height: 60%;
    width: 75%;

}
header{
    text-align: center;
    font-size: 2rem;
    font-family: 'sans-serif';
    color: white;
    text-shadow: 0 0 22px black;
}
.spieler{
    text-align: center;
    
    color: rgb(243, 232, 232);
    text-shadow: 0 0 16px black;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 1rem;
   
}

body{
    background-image: url("fifa18.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    width: auto;
    height: auto;
    
}
#dfbLogo{
    float: right;
}
img{
    display: inline-block;
}
h3{
    text-decoration: underline ;
}
.spielerValue{
    color:white;
}
#link:hover{
    color: white;
    
}